# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# OS Metadata
.DS_Store
Thumbs.db

# Virtual Environments
.venv/
venv/
ENV/
env/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project Specific
antiafk/config.json

# Packaging / Distribution
dist/
build/
*.spec
!game_antiafk_bot.spec
config.json
